[submodule "external/gflags"]
	path = external/gflags
	url = https://github.com/gflags/gflags.git
[submodule "external/glog"]
	path = external/glog
	url = https://github.com/google/glog.git
[submodule "build/external/pjsip"]
	path = build/external/pjsip
	url = https://github.com/pjsip/pjproject.git
[submodule "external/pjsip"]
	path = external/pjsip
	url = https://github.com/pjsip/pjproject.git
[submodule "external/jrtplib3"]
	path = external/jrtplib3
	url = https://github.com/j0r1/JRTPLIB.git
[submodule "external/jthread"]
	path = external/jthread
	url = https://github.com/j0r1/JThread.git
[submodule "external/tinyxml2"]
	path = external/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "external/jsoncpp"]
	path = external/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
